<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Magma Drive </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-white min-h-screen">
    <header class="flex justify-between items-center p-6 bg-gray-800">
        <h1 class="text-2xl font-bold"> Magma Drive</h1>
        <nav>
            
            <a href="/user/login" class="ml-4 px-4 py-2 bg-blue-500 rounded-lg hover:bg-blue-600">Login</a>
        </nav>
    </header>
    <div class="w-full h-[70vh] flex items-center justify-center">
        <section class="text-center py-20">
            <h2 class="text-4xl font-bold mb-4">Secure Cloud Storage for Everyone</h2>
            <p class="text-gray-400 mb-6">Store, share, and access your files anytime, anywhere.</p>
            <a href="/user/register" class="px-6 py-3 bg-blue-500 rounded-lg hover:bg-blue-600">Get Started</a>
        </section>
    </div>


    <footer class="text-center absolute w-full bottom-0 py-6 bg-gray-800">
        <p class="text-gray-400">&copy; 2025 Magma Drive. All rights reserved.</p>
    </footer>
</body>

</html>